@using GrupoXpert.Blazor.EventArgs

<h3>Autenticar</h3>
<EditForm FormName="Login" OnValidSubmit="OnValidSubmit" Model="credencial">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="12">
            <MudCard>
                <MudCardContent>                    
                    <MudTextField Label="Usuario" HelperText="Nombre de usuario"
                                  @bind-Value="credencial.Usuario" For="@(() => credencial.Usuario)" />
                    <MudTextField Label="Contraseña" Class="mt-3" HelperText="Contraseña de usuario"
                                  @bind-Value="credencial.Clave" For="@(() => credencial.Clave)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Ingresar</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {

    [Parameter]
    public EventCallback<AutenticarEventArgs> OnAutenticar { get; set; }

    private AutenticarEventArgs credencial = new AutenticarEventArgs("", "");

    private async Task OnValidSubmit()
    {
        await OnAutenticar.InvokeAsync(credencial);
    }
}
